<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="full">

<head>
#include("/resources/common/header.html")
#include("/resources/common/header_edit.html")

<link href="/resources/plugin/zTree_v3/css/zTreeStyle/zTreeStyle.css"
	rel="stylesheet">
<script src="/resources/plugin/zTree_v3/js/jquery.ztree.all-3.5.min.js"></script>

<style type="text/css">
.label-radio {
	margin-left: 40px;
	margin-right: 40px;
    margin-top:7px
}
</style>

</head>

<body class="page-body full">
	<div class="widget-body full">
		<form id="mainForm" class="full full-scroll"
			action="/time/timetask/input" method="post">
			<input type="hidden" name="id" value="${entity.id}" />
			<input type="hidden" id="stateChanged" name="stateChanged" value="false"/>
			<div id="formContent"
				class="full form-horizontal form-content-has-footer">
				<div class="form-group no-margin-l no-margin-r">
					<label class="col-xs-1 control-label">任务标题<sup>*</sup></label>
					<div class="col-xs-9">
						<input type="text" class="form-control" name="name"
							value="${entity.name}" maxlength="32" required
							data-bv-notempty-message="任务标题不能为空" data-bv-stringlength-min="1"
							data-bv-stringlength-message="任务标题要在1-32个字内" />
					</div>
					<label class="col-xs-2 control-label control-label-tip">任务标题(32个字以内)</label>
				</div>
				<div class="form-group no-margin-l no-margin-r">
					<label class="col-xs-1 control-label">类名<sup>*</sup></label>
					<div class="col-xs-9">
						<input type="text" id="clazzName" class="form-control"
							name="clazzName" value="${entity.clazzName}" />
					</div>
					<small id="vaildClazzName" class="col-xs-2 control-label control-label-tip" style="display: none;"></small>
				</div>
				<div class="form-group no-margin-l no-margin-r">
					<label class="col-xs-1 control-label">表达式<sup>*</sup></label>
					<div class="col-xs-9">
						<input type="text" id="cronExpress" class="form-control"
							name="cronExpress" value="${entity.cronExpress}" />
					</div>
					<small id="vaildCronExpress" class="col-xs-2 control-label control-label-tip" style="display: none;"></small>
				</div>
				<div class="form-group no-margin-l no-margin-r">
					<label class="col-xs-1 control-label">任务描述</label>
					<div class="col-xs-9">
						<input type="text" class="form-control" name="comment"
							value="${entity.comment}" maxlength="32" required
							data-bv-notempty-message="任务描述不能为空" data-bv-stringlength-min="1"
							data-bv-stringlength-message="任务描述要在1-32个字内" />
					</div>
					<label class="col-xs-2 control-label control-label-tip">任务描述(32个字以内)</label>
				</div>
				<div class="form-group no-margin-l no-margin-r">
					<label class="col-xs-1 control-label">自启动</label>
					<div class="col-xs-9">
						<label class="label-radio">
							<input type="radio" name="selfStart" value="true" class="icon-sel colored-blue" />
							<span class="text">true</span>
						</label>
						<label class="label-radio">
							<input type="radio" name="selfStart" value="false" class="icon-sel colored-blue" />
							<span class="text">false</span>
						</label>
					</div>
					<label class="col-xs-2 control-label control-label-tip">自启动(默认false)</label>
				</div>
			</div>
			<div id="formFooter"
				class="widget-header form-footer form-footer-scroll">
				<a href="javascript:history.go(-1);" class="btn btn-default">返回</a>
				<button type="submit" id="btnSubmit" class="btn btn-primary">保存</button>
			</div>
		</form>
	</div>
</body>

<script type="text/javascript">
	var validResult = false;
	var ajaxBackOne = true;
	var ajaxBackTwo = true;
	var resultOne = true;
	var resultTwo = true;
	$(function() {
		$("input[value='${entity.selfStart}']").attr("checked", "checked");
		$("#mainForm").Validform({
			ajaxPost : true,
			callback : function(data) {
				var result = data.result;
				var msg = data.msg;
				var obj = data.obj;
				if (result) {
					showTipSuccess(msg, null, function() {
						window.location.href = "${urlIndex}";
					});
				} else {
					$("#btnSubmit").removeAttr("disabled");
					showTipError(msg, obj, null);
				}
			},
			beforeSubmit : function(curform) {
				if(validResult) {
					if(!ajaxBackOne || !ajaxBackTwo) {
						bootbox.alert("正在验证，请稍后");
						return false;
					}				
					if(!resultOne) {
						bootbox.alert("表达式错误");
						return false;
					}
					if(!resultTwo) {
						bootbox.alert("类名错误");
						return false;
					}
					var en_id = "${entity.id}";
					if (en_id != "") {
						var clazzName = $("#clazzName").val();
						var OldClazzName = "${entity.clazzName}";
						var cronExpress = $("#cronExpress").val();
						var OldCronExpress = "${entity.cronExpress}";
						if(OldCronExpress != cronExpress) {
							$("#stateChanged").val("true");								
						}
					}
					return true;
				}
				return validResult;
			}
		});

		$("#mainForm").bootstrapValidator({
			feedbackIcons : {
				valid : 'glyphicon glyphicon-ok',
				invalid : 'glyphicon glyphicon-remove',
				validating : 'glyphicon glyphicon-refresh'
			},
			onSuccess : function() {
				validResult = true;
			},
			onError : function() {
				validResult = false;
			}
		});

		$("#Validform_msg").remove();
	});
	$("#cronExpress").off("input propertychange").on("input propertychange",
			function() {
				var cronExpress = $("#cronExpress").val();
				var vaildUrl = "/time/timetask/vaildCronExpress";
				ajaxBackOne = false;
				$.ajax({
					type : "GET",
					url : vaildUrl + "?cronExpress=" + cronExpress,
					success : function(data) {
						resultOne = data.result;
						var msg = data.msg;
						var obj = data.obj;
						ajaxBackOne = true;
						if (resultOne) {
							$("#vaildCronExpress").hide();
						} else {
							$("#vaildCronExpress").show().css("font-size", "100%");
							$("#vaildCronExpress").html(msg);
						}
					}
				});
			});
	$("#clazzName").off("input propertychange").on("input propertychange",
			function() {
				var clazzName = $("#clazzName").val();
				var vaildUrl = "/time/timetask/vaildClazzName";
				ajaxBackTwo = false;
				$.ajax({
					type : "GET",
					url : vaildUrl + "?clazzName=" + clazzName,
					success : function(data) {
						resultTwo = data.result;
						var msg = data.msg;
						var obj = data.obj;
						ajaxBackTwo = true;
						if (resultTwo) {
							$("#vaildClazzName").hide();
						} else {
							$("#vaildClazzName").show().css("font-size", "100%");
							$("#vaildClazzName").html(msg);
						}
					}
				});
			});
</script>

</html>
