<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="full">

<head>
#include("/resources/common/header.html")
#include("/resources/common/header_edit.html")

<link href="/resources/plugin/zTree_v3/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
<script src="/resources/plugin/zTree_v3/js/jquery.ztree.all-3.5.min.js"></script>

<style type="text/css">
.page-body {
	padding-left: 10px;
}

.label-radio {
	margin-right: 10px;
    margin-bottom: 10px;
}
</style>

<script type="text/javascript">
	var zTree;
	
	function beforeCheck(treeId, treeNode) {
		return (treeNode.doCheck !== false);
	}
	
	function onCheck(e, treeId, treeNode) {
		var uncheckedNodes = zTree.getCheckedNodes(false);
		var uncheckedLength = uncheckedNodes.length;
		if (uncheckedLength == 0) {
			checkItemTrigger("boxCheckAll", true);
			showCheckTip(true);
		} else {
			checkItemTrigger("boxCheckAll", false);
			showCheckTip(false);
		}
	}
	
	var setting = {
		view: {
			selectedMulti: false
		},
		check: {
			enable: true
		},
		data: {
			key : {
				title : "type"
			},
			simpleData: {
				enable: true
			}
		},
		callback: {
			beforeCheck: beforeCheck,
			onCheck: onCheck
		}
	};
	
	function checkAll(obj) {
		if (obj.checked) {
			zTree.checkAllNodes(true);
			showCheckTip(true);
		} else {
			zTree.checkAllNodes(false);
			showCheckTip(false);
		}
	}
	
	function showCheckTip(isChecked) {
		if (isChecked) {
			$("#txtCheckAll").html("反选");
		} else {
			$("#txtCheckAll").html("全选");
		}
	}
</script>
</head>

<body class="page-body full">
	<div class="widget-body full">
		<form id="mainForm" class="full main-form" action="${urlSave}" method="post" style="display: none;">
			<input type="hidden" name="id" value="$!{menu.id}" />
			<input type="hidden" name="parentId" value="$!{menu.parentId}" />
			<input type="hidden" name="seq" value="$!{menu.seq}" />
			<input type="hidden" name="level" value="$!{menu.level}" />
			<input type="hidden" id="changeRef" name="changeRef" value="${menu.changeRef}" />
			<input type="hidden" id="refListStr" name="refListStr" value="${menu.refListStr}" />
			<div id="formHeader" class="widget-header form-header">
				<a href="javascript:void(0);" id="btnAdd" class="btn btn-info left">添加子菜单</a>
			</div>
			<div id="formContent" class="full form-horizontal">
				<div class="form-group no-margin-l no-margin-r">
					<label class="col-xs-2 control-label">名称<sup>*</sup></label>
					<div class="col-xs-7">
						<input type="text" id="name" class="form-control" name="name" 
							maxlength="32" required data-bv-notempty-message="菜单名称不能为空" 
							data-bv-stringlength-min="1" data-bv-stringlength-message="菜单名称个数要在1-32个字内" />
					</div>
					<label class="col-xs-3 control-label control-label-tip">菜单名称(32个字以内)</label>
				</div>
				<div class="form-group no-margin-l no-margin-r">
					<label class="col-xs-2 control-label">路径</label>
					<div class="col-xs-7">
						<input type="text" id="url" class="form-control" name="url" maxlength="128" />
					</div>
					<label class="col-xs-3 control-label control-label-tip">菜单路径</label>
				</div>
				<div class="form-group no-margin-l no-margin-r">
					<label class="col-xs-2 control-label">描述</label>
					<div class="col-xs-7">
						<textarea id="description" class="form-control" name="description" rows="3" maxlength="256">${menu.description}</textarea>
					</div>
					<label class="col-xs-3 control-label control-label-tip">菜单描述</label>
				</div>
				<div class="form-group no-margin-l no-margin-r">
					<label class="col-xs-2 control-label">图标</label>
					<div class="col-xs-7">
						#for(icon : menu.ICON_LIST) 
						<label class="label-radio">
							<input type="radio" name="icon" value="${icon}" class="icon-sel colored-blue" />
							<span class="text"><i class="${icon}"></i></span>
						</label>
						#end
					</div>
					<label class="col-xs-3 control-label control-label-tip">修改图标</label>
				</div>
				<div id="menuRefDiv" class="form-group no-margin-l no-margin-r" style="display: none;">
					<span class="col-xs-2 control-label">
						菜单分配<br>
						<label>
	                        <input type="checkbox" id="boxCheckAll" onclick="checkAll(this)">
	                        <span class="text" id="txtCheckAll">全选</span>
	                    </label>
                    </span>
					<div class="col-xs-7">
						<ul id="menuTree" class="ztree"></ul>
					</div>
					<label class="col-xs-3 control-label control-label-tip">菜单分配</label>
				</div>
				<div id="formFooter" class="widget-header form-footer">
					<a id="btnChangeMenuRef" href="javascript:changeMenuRef();" class="btn btn-default" style="display: none;">打开分配</a>
					<button type="submit" id="btnSubmit" class="btn btn-primary">保存</button>
				</div>
			</div>
		</form>
	</div>
</body>

<script type="text/javascript">
	$(function() {
		#if (menu.id != null || menu.parentId != null)
			var validResult = false;
			
			$("#mainForm").show();
			$("#mainForm").Validform({
				ajaxPost:true,
				callback:function(data) {
					var result = data.result;
					var msg = data.msg;
					var obj = data.obj;
					if (result) {
						window.parent.menuList.location.href = "${urlList}?id=" + obj.id + "&level=" + obj.level;
						showTipSuccess(msg, null, function() {
							window.parent.menuEdit.location.href = "${urlEdit}";
						});
					} else {
						$("#btnSubmit").removeAttr("disabled");
						showTipError(msg, obj, null);
					}
				},
				beforeSubmit:function(curform) {
					// return validResult;
					if (validResult) {
						if ($("#menuRefDiv").is(":visible")) {
							$("#changeRef").val(true);
							
							// 保存菜单分配
							var nodes = zTree.getCheckedNodes(true);
							var length = nodes.length;
							if (length > 0) {
								var rolegroupMenuRefList = new Array();
								var roleMenuRefList = new Array();
								var userMenuRefList = new Array();
								for(var i = 0; i < length; i++) {
									var node = nodes[i];
									if (node.type == "rolegroup") {
										rolegroupMenuRefList.push(node.idVal);
									} else if (node.type == "role") {
										roleMenuRefList.push(node.idVal);
									} else if (node.type == "user") {
										userMenuRefList.push(node.idVal);
									}
								}
								$("#refListStr").val(rolegroupMenuRefList + "#" + roleMenuRefList + "#" + userMenuRefList);
							}
						} else {
							$("#changeRef").val(false);
						}
					}
					return validResult;
				}
			});
			$("#mainForm").bootstrapValidator({
				feedbackIcons : {
					valid : 'glyphicon glyphicon-ok',
					invalid : 'glyphicon glyphicon-remove',
					validating : 'glyphicon glyphicon-refresh'
				},
				onSuccess : function() {
					validResult = true;
				},
				onError : function() {
					validResult = false;
				}
			});
			$("#Validform_msg").remove();
		#end
		
		#if (menu.id != null)
			$("#name").val("${menu.name}");
			$("#url").val("${menu.url}");
			##$("#description").val("${menu.description}");
			
			var level = ${menu.level};
			if (level >= MENU_LEVEL_MAX) {
				$("#formHeader").hide();
				$("#formContent").addClass("form-content-full");
			} else {
				$("#formContent").addClass("form-content-has-header");
				var levelNext = ${menu.level} + 1;
				$("#btnAdd").attr("href", "${urlEdit}?parentId=${menu.id}&level=" + levelNext);
			}
		#end
		
		#if (menu.id == null && menu.parentId != null)
			$("#formHeader").hide();
			$("#formContent").addClass("form-content-full");
		#end
		
		#if (menu.subMenuCount == 0 && !menu.isLimit())
			$("#btnChangeMenuRef").show();
		#end
		
		$(".icon-sel[value='${menu.icon}']").attr("checked", "checked");
	});
	
	var openMenuRef = false;
	function changeMenuRef() {
		openMenuRef = !openMenuRef;
		if (openMenuRef) {
			showMenuRef("${menu.id}");
			$("#btnChangeMenuRef").html("关闭分配");
			
			$("#formContent").after($("#formFooter"));
			if ($("#formHeader").is(":hidden")) {
				$("#formContent").addClass("form-content-has-footer");
			} else {
				$("#formContent").addClass("form-content-has-header-footer");
			}
			$("#formFooter").addClass("form-footer-scroll")
		} else {
			$("#menuRefDiv").hide();
			$("#btnChangeMenuRef").html("打开分配");
			
			$("#menuRefDiv").after($("#formFooter"));
			if ($("#formHeader").is(":hidden")) {
				$("#formContent").removeClass("form-content-has-footer");
			} else {
				$("#formContent").removeClass("form-content-has-header-footer");
			}
			$("#formFooter").removeClass("form-footer-scroll")
		}
	}
	
	function showMenuRef(menuId) {
		$.ajax({
			type : "POST",
			url : "${urlGetMenuRef}?menuId=" + menuId,
			success : function(data) {
				var result = data.result;
				var msg = data.msg;
				var obj = data.obj;
				if (result) {
					$("#menuRefDiv").show();
					
					$.fn.zTree.init($("#menuTree"), setting, obj);
					zTree = $.fn.zTree.getZTreeObj("menuTree");
					onCheck();
				} else {
					bootbox.alert(obj);
				}
			}
		});
	}
	
</script>

</html>
