<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="full">

<head>
#include("/resources/common/header.html")

<link href="/resources/css/style.css" rel="stylesheet" />
</head>

<body class="full">
	<iframe id="menuList" name="menuList" src="${urlList}" width="35%" height="100%" style="border: none; position: absolute; left: 0;"></iframe>
	<iframe id="menuEdit" name="menuEdit" src="${urlEdit}" width="65%" height="100%" style="border: none; position: absolute; right: 0;"></iframe>
</body>

</html>
