<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="full">

<head>
#include("/resources/common/header.html")
#include("/resources/common/header_edit.html")

<link href="/resources/plugin/chosen_v1.4.2/chosen.css" rel="stylesheet" />
<link href="/resources/plugin/zTree_v3/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
<link href="/resources/plugin/jquery-ui-1.11.4/jquery-ui.css" rel="stylesheet">

<script src="/resources/plugin/chosen_v1.4.2/chosen.jquery.js"></script>
<script src="/resources/plugin/zTree_v3/js/jquery.ztree.all-3.5.min.js"></script>
<script src="/resources/plugin/jquery-ui-1.11.4/jquery-ui.js"></script>

<script type="text/javascript">
	var zTree;
	
	function beforeCheck(treeId, treeNode) {
		return (treeNode.doCheck !== false);
	}
	
	function onCheck(e, treeId, treeNode) {
		var uncheckedNodes = zTree.getCheckedNodes(false);
		var uncheckedLength = uncheckedNodes.length;
		if (uncheckedLength == 0) {
			// $("#boxCheckAll").attr("checked","true");
			checkItemTrigger("boxCheckAll", true);
			showCheckTip(true);
		} else {
			// $("#boxCheckAll").removeAttr("checked");
			checkItemTrigger("boxCheckAll", false);
			showCheckTip(false);
		}
	}
	
	var setting = {
		view: {
			selectedMulti: false
		},
		check: {
			enable: true
		},
		data: {
			simpleData: {
				enable: true
			}
		},
		callback: {
			beforeCheck: beforeCheck,
			onCheck: onCheck
		}
	};
	
	function checkAll(obj) {
		if (obj.checked) {
			zTree.checkAllNodes(true);
			showCheckTip(true);
		} else {
			zTree.checkAllNodes(false);
			showCheckTip(false);
		}
	}
	
	function showCheckTip(isChecked) {
		if (isChecked) {
			$("#txtCheckAll").html("反选");
		} else {
			$("#txtCheckAll").html("全选");
		}
	}
</script>
</head>

<body class="page-body full">
	<div class="widget-body full">
		<form id="mainForm" class="full full-scroll" action="${urlSave}" method="post">
			<input type="hidden" name="id" value="${entity.id}" />
			<input type="hidden" id="menuListStr" name="menuListStr" value="${entity.menuListStr}" />
			<div id="formContent" class="full form-horizontal form-content-has-footer">
				<div class="form-group no-margin-l no-margin-r">
					<label class="col-xs-1 control-label">名称<sup>*</sup></label>
					<div class="col-xs-9">
						<input type="text" class="form-control" name="name" value="${entity.name}" 
							maxlength="32" required data-bv-notempty-message="角色名称不能为空" 
							data-bv-stringlength-min="1" data-bv-stringlength-message="角色名称个数要在1-32个字内" />
					</div>
					<label class="col-xs-2 control-label control-label-tip">角色名称(32个字以内)</label>
				</div>
				<div class="form-group no-margin-l no-margin-r">
					<label class="col-xs-1 control-label">描述</label>
					<div class="col-xs-9">
						<textarea class="form-control" name="description" rows="3" maxlength="256">${entity.description}</textarea>
					</div>
					<label class="col-xs-2 control-label control-label-tip">角色描述</label>
				</div>
				<div id="rolegroupDiv" class="form-group no-margin-l no-margin-r">
					<label class="col-xs-1 control-label">角色组<sup>*</sup></label>
					<div class="col-xs-9">
						<select id="rolegroupSel" name="rolegroupId" class="form-control chosen-select" data-placeholder="请选择角色组" onchange="changeRolegroup(this);">
							<option value=""></option>
							#for (rolegroup : rolegroupList)
				            	<option value="${rolegroup.id}">${rolegroup.name}</option>
				            #end
			        	</select>
			        	<input type="hidden" id="rolegroupIdBak" name="rolegroupIdBak" value="${entity.rolegroupId}" />
					</div>
					<label class="col-xs-2 control-label control-label-tip">请选择角色组</label>
				</div>
				<div id="levelDiv" class="form-group no-margin-l no-margin-r" style="display: none;">
					<label class="col-xs-1 control-label">等级<sup>*</sup></label>
					<div class="col-xs-9">
						<input type="text" id="spinner" class="form-control" name="level" #if (entity.level != null) value="${entity.level}" #else value="${levelMin}" #end
							required data-bv-notempty-message="角色等级不能为空" 
							data-bv-digits data-bv-digits-message="角色等级必须为数字" 
							data-bv-greaterThan data-bv-greaterThan-message="角色等级最小为${levelMin}" data-bv-greaterThan-value="${levelMin}" 
							data-bv-lessThan data-bv-lessThan-message="角色等级最大为${levelMax}" data-bv-lessThan-value="${levelMax}" />
					</div>
					<label class="col-xs-2 control-label control-label-tip">角色等级</label>
				</div>
				<div id="menuDiv" class="form-group no-margin-l no-margin-r" style="display: none;">
					<span class="col-xs-1 control-label">
						选择菜单<br>
						<label>
	                        <input type="checkbox" id="boxCheckAll" onclick="checkAll(this)">
	                        <span class="text" id="txtCheckAll">全选</span>
	                    </label>
                    </span>
					<div class="col-xs-9">
						<ul id="menuTree" class="ztree"></ul>
					</div>
					<label class="col-xs-2 control-label control-label-tip">菜单选择</label>
				</div>
			</div>
			<div id="formFooter" class="widget-header form-footer form-footer-scroll">
				<a href="javascript:history.go(-1);" class="btn btn-default">返回</a>
				<button type="submit" id="btnSubmit" class="btn btn-primary">保存</button>
			</div>
		</form>
	</div>
</body>

<script type="text/javascript">
	var inited = false;

	$(function() {
		var validResult = false;
	
		$("#mainForm").Validform({
			ajaxPost:true,
			callback:function(data) {
				var result = data.result;
				var msg = data.msg;
				var obj = data.obj;
				if (result) {
					showTipSuccess(msg, null, function() {
						window.location.href = "${urlIndex}";
					});
				} else {
					$("#btnSubmit").removeAttr("disabled");
					showTipError(msg, obj, null);
				}
			},
			beforeSubmit:function(curform) {
				if (validResult) {
					// 检查角色组是否已经选择
					if (!$("#rolegroupSel").val()) {
						bootbox.alert("请选择角色组!");
						$("#btnSubmit").removeAttr("disabled");
						return false;
					}
					
					// 检查菜单是否已经选择
					var nodes = zTree.getCheckedNodes(true);
					var length = nodes.length;
					if (length > 0) {
						var menuList = new Array();
						for(var i = 0; i < length; i++) {
							menuList.push(nodes[i].id);
						}
						$("#menuListStr").val(menuList);
					} else {
						bootbox.alert("请至少选择一个菜单!");
						$("#btnSubmit").removeAttr("disabled");
						return false;
					}
				}
				return validResult;
			}
		});
		
		$("#mainForm").bootstrapValidator({
			feedbackIcons : {
				valid : 'glyphicon glyphicon-ok',
				invalid : 'glyphicon glyphicon-remove',
				validating : 'glyphicon glyphicon-refresh'
			},
			/* fields: {
				level: {
					validators: {
                        notEmpty: {
                            message: '角色等级不能为空'
                        },
                        digits: {
                            message: '角色等级必须为数字'
                        },
                        greaterThan: {
                        	message: '角色等级最小为' + ${levelMin},
                        	value: ${levelMin}
                        },
                        lessThan: {
                        	message: '角色等级最大为' + ${levelMax},
                        	value: ${levelMax}
                        },
                    }
                },
			}, */
			onSuccess : function() {
				validResult = true;
			},
			onError : function() {
				validResult = false;
			}
		});
		
		$("#Validform_msg").remove();
		
		init();
	});
	
	function init() {
		if (${entity.isNew()}) {
			if ("${macroGet('m_userIsRoot')}" != "true") {
				var rolegroupId = ${macroGet('m_userRolegroupId')};
				$("#rolegroupSel").val(rolegroupId);
				$("#rolegroupSel").trigger("chosen:updated");
				$("#rolegroupDiv").hide();
				showMenu(rolegroupId);
			}
		} else {
			var rolegroupId = "${entity.rolegroupId}";
			$("#rolegroupSel").val(rolegroupId);
			$("#rolegroupSel").trigger("chosen:updated");
			// 禁用角色组选择框
			$("#rolegroupSel").attr("disabled", true).trigger("chosen:updated");
			$("#rolegroupSel").attr("name", "rolegroupIdBak");
			$("#rolegroupIdBak").attr("name", "rolegroupId");
			
			if ("${macroGet('m_userIsRoot')}" != "true") {
				$("#rolegroupDiv").hide();
			}
			if (rolegroupId) {
				showMenu(rolegroupId);
			}
		}
		
		$("#spinner").spinner({
			step: 1,
			min: ${levelMin},
			max: ${levelMax},
		});
		/* $("#spinner").off("keyup afterpaste").on("keyup afterpaste", function(event) {
			if (isNaN(this.value) || this.value.trim() == '') {
				// document.execCommand('undo');
				this.value = this.value.replace(/\D|^0/g, ""); 
			} else if (this.value > ${levelMax}) {
				this.value = ${levelMax};
			} else if (this.value < ${levelMin}) {
				this.value = ${levelMin};
			}
		}); */
		$(".ui-spinner").css({ "border-radius": 0 });
	}
	
	function initMenuCheck() {
		if (!inited) {
			$("#spinner").val(${entity.level});
			
			var menuListStr = "${entity.menuListStr}";
			if (menuListStr) {
				zTree.checkAllNodes(false);
				var menuList = menuListStr.split(",");
				for(var i = 0; i < menuList.length; i++) {
					var id = menuList[i];
					var treeObj = zTree.getNodeByParam("id", id, null);
					if (treeObj && !treeObj.isParent) {
						zTree.checkNode(treeObj, true, true);
					}
				}
				onCheck();
			}
			inited = true;
		}
	}
	
	function changeRolegroup(obj) {
		var rolegroupId = $(obj).val();
		if (rolegroupId) {
			showMenu(rolegroupId);
		} else {
			$("#menuDiv").hide();
		}
	}
	
	function showMenu(rolegroupId) {
		$.ajax({
			type : "POST",
			url : "${urlGetMenuList}/" + rolegroupId,
			success : function(data) {
				var result = data.result;
				var msg = data.msg;
				var obj = data.obj;
				if (result) {
					$("#levelDiv").show();
					$("#menuDiv").show();
					
					var menuTreeData = obj[0];
					var levelMin = obj[1];
					var levelMax = obj[2];
					$.fn.zTree.init($("#menuTree"), setting, menuTreeData);
					zTree = $.fn.zTree.getZTreeObj("menuTree");
					
					zTree.checkAllNodes(true);
					onCheck();
					
					$("#spinner").spinner({
						step: 1,
						min: levelMin,
						max: levelMax,
						stop: function(event, ui) {
							$("#mainForm").data("bootstrapValidator").updateStatus("level", "NOT_VALIDATED", null).validateField("level");
						}
					});
					$("#spinner").val(levelMin);
					$("#mainForm").data("bootstrapValidator").updateOption("level", "greaterThan", "value", levelMin);
					$("#mainForm").data("bootstrapValidator").updateOption("level", "greaterThan", "message", "角色等级最小为" + levelMin);
					$("#mainForm").data("bootstrapValidator").updateOption("level", "lessThan", "value", levelMax);
					$("#mainForm").data("bootstrapValidator").updateOption("level", "lessThan", "message", "角色等级最大为" + levelMax);
					$("#mainForm").data("bootstrapValidator").updateStatus("level", "NOT_VALIDATED", null).validateField("level");
					
					initMenuCheck();
				} else {
					bootbox.alert(obj);
				}
			}
		});
	}
</script>

</html>
