<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="full">

<head>
#include("/resources/common/header.html")
#include("/resources/common/header_edit.html")

<link href="/resources/plugin/zTree_v3/css/zTreeStyle/zTreeStyle.css"
	rel="stylesheet">
<script src="/resources/plugin/zTree_v3/js/jquery.ztree.all-3.5.min.js"></script>

</head>

<body class="page-body full">
	<div class="widget-body full">
		<form id="mainForm" class="full full-scroll" action="/app/appupdate/save" method="post">
			<input type="hidden" name="id" value="${entity.id}" />
			<div id="formContent" class="full form-horizontal form-content-has-footer">
				<div class="form-group no-margin-l no-margin-r">
					<label class="col-xs-1 control-label">起始版本<sup>*</sup></label>
					<div class="col-xs-9">
						<select id="version_st" class="form-control" name="version_st">
							#for(versionInfo : versionList)
								<option value="${versionInfo.versionNum}" >${versionInfo.versionNum}</option>
							#end
						</select>
					</div>
					<div id="vaildVersion_st" class="col-xs-2 control-label control-label-tip" style="display: none;"></div>
				</div>
				<div class="form-group no-margin-l no-margin-r">
					<label class="col-xs-1 control-label">结束版本<sup>*</sup></label>
					<div class="col-xs-9">
						<select id="version_ed" class="form-control" name="version_ed">
							#for(versionInfo : versionList)
								<option value="${versionInfo.versionNum}" >${versionInfo.versionNum}</option>
							#end
						</select>
					</div>
					<div id="vaildVersion_ed" class="col-xs-2 control-label control-label-tip" style="display: none;"></div>
				</div>
				<div class="form-group no-margin-l no-margin-r">
					<label class="col-xs-1 control-label">更新至<sup>*</sup></label>
					<div class="col-xs-9">
						<select id="versionNum" class="form-control" name="versionNum">
							#for(versionInfo : versionList)
								<option value="${versionInfo.versionNum}" >${versionInfo.versionNum}</option>
							#end
						</select>
					</div>
					<div id="vaildVersionNum" class="col-xs-2 control-label control-label-tip" style="display: none;"></div>
				</div>
				<div class="form-group no-margin-l no-margin-r">
					<label class="col-xs-1 control-label">更新描述</label>
					<div class="col-xs-9">
						<input type="text" class="form-control" name="message"
							value="${entity.message}" maxlength="32" required
							data-bv-notempty-message="更新描述不能为空" data-bv-stringlength-min="1"
							data-bv-stringlength-message="更新描述要在1-32个字内" />
					</div>
					<label class="col-xs-2 control-label control-label-tip">任务描述(32个字以内)</label>
				</div>
				
			</div>
			<div id="formFooter"class="widget-header form-footer form-footer-scroll">
				<a href="javascript:history.go(-1);" class="btn btn-default">返回</a>
				<button type="submit" id="btnSubmit" class="btn btn-primary">保存</button>
			</div>
		</form>
	</div>
</body>

<script type="text/javascript">
	var validResult = false;
	var ajaxBack = 0;
	var resultOne = true;
	var resultTwo = true;
	var resultThree = true;
	$(function() {
		if("${entity.id}" == "") {
			$("#version_st").focus();
			resultOne = resultTwo = resultThree = false;
		}
		$("#mainForm").Validform({
			ajaxPost : true,
			callback : function(data) {
				var result = data.result;
				var msg = data.msg;
				var obj = data.obj;
				if (result) {
					showTipSuccess(msg, null, function() {
						window.location.href = "${urlIndex}";
					});
				} else {
					$("#btnSubmit").removeAttr("disabled");
					showTipError(msg, obj, null);
				}
			},
			beforeSubmit : function(curform) {
				if(validResult) {
					if(ajaxBack > 0) {
						bootbox.alert("正在验证..");
						return false;
					}
					if(!resultOne || !resultTwo || !resultThree) {
						bootbox.alert("输入有错请查看");
						return false;
					}
					return true;
				}
				return validResult;
			}
		});

		$("#mainForm").bootstrapValidator({
			feedbackIcons : {
				valid : 'glyphicon glyphicon-ok',
				invalid : 'glyphicon glyphicon-remove',
				validating : 'glyphicon glyphicon-refresh'
			},
			onSuccess : function() {
				validResult = true;
			},
			onError : function() {
				validResult = false;
			}
		});

		$("#Validform_msg").remove();
		$("#version_st").change(function(){
			var versionNum = $("#version_st").val();
			var vaildUrl = "/app/appupdate/vaildVersion?versionNum=" + versionNum;
			ajaxBack++;
			$.ajax({
				type : "GET",
				url : vaildUrl,
				success : function(data) {
					var result = data.result;
					var msg = data.msg;
					var obj = data.obj;
					ajaxBack--;
					if (result) {
						$("#vaildVersion_st").hide();
						resultOne = true;
					} else {
						$("#vaildVersion_st").show();
						$("#vaildVersion_st").html(msg);
						resultOne = false;
					}
				}
			});
		});
		$("#version_ed").change(function(){
			var versionNum = $("#version_st").val();
			var versionNum2 = $("#version_ed").val();
			if(parseInt(versionNum2) < parseInt(versionNum)) {
				$("#vaildVersion_ed").show();
				$("#vaildVersion_ed").html("结束版本不能小于起始版本");
				resultTwo = false;
				return;
			}
			var vaildUrl = "/app/appupdate/vaildVersion?versionNum=" + versionNum+"&versionNum2="+versionNum2;
			ajaxBack++;
			$.ajax({
				type : "GET",
				url : vaildUrl,
				success : function(data) {
					var result = data.result;
					var msg = data.msg;
					var obj = data.obj;
					ajaxBack--;
					if (result) {
						$("#vaildVersion_ed").hide();
						resultTwo = true;
					} else {
						$("#vaildVersion_ed").show();
						$("#vaildVersion_ed").html(msg);
						resultTwo = false;
					}
				}
			});
		});
		
		$("#versionNum").change(function(){
			var versionNum = $("#versionNum").val();
			if(parseInt(versionNum) <= parseInt($("#version_ed").val())) {
				$("#vaildVersionNum").show();
				$("#vaildVersionNum").html("更新到的版本要大于结束版本");
				resultThree = false;
				return;
			}
			var vaildUrl = "/app/appupdate/vaildVersion?versionNum=" + versionNum;
			ajaxBack++;
			$.ajax({
				type : "GET",
				url : vaildUrl,
				success : function(data) {
					var result = data.result;
					var msg = data.msg;
					var obj = data.obj;
					ajaxBack--;
					if (result) {
						$("#vaildVersionNum").hide();
						resultThree = true;
					} else {
						$("#vaildVersionNum").show();
						$("#vaildVersionNum").html(msg);
						resultThree = false;
					}
				}
			});
		});
	});
		/* $("#version_ed").blur(function() {
			vaildVersion($("#version_ed").val(), "#vaildVersion_ed");
		});
		$("#update_to").blur(function() {
			vaildVersion($("#update_to").val(), "#vaildUpdate_to");
		}); */
	
</script>

</html>
