<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <mappers>
        <mapper resource="com/fengdui/extjs/sqlmap/RoleMapper.xml"/>
    </mappers>
</configuration>

<!-- 在配置文件添加启用该配置文件 mybatis.config-location=classpath:MybatisConfig.xml-->
<!-- 也可以使用替代 mybatis.mapper-locations=classpath:com/fengdui/extjs/mapper/*Mapper.xml-->