<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="full">

<head>
#include("/resources/common/header.html")
#include("/resources/common/header_edit.html")

<link rel="stylesheet" type="text/css" href="/resources/plugin/webuploader-0.1.5/webuploader.css">
<script src="/resources/plugin/webuploader-0.1.5/webuploader.nolog.min.js"></script>
</head>

<body class="page-body full">
	<div class="widget-body full">
		<form id="mainForm" class="full full-scroll" action="${urlSave}" method="post">
			<input type="hidden" name="id" value="${entity.id}" />
			#for (screenshotListDpi : entity.screenshotList)
				#for (screenshot : screenshotListDpi)
					#set(screenshotIdx = for.index - 1)
					<input type="hidden" class="screenshotList" seq="${screenshot.seq}" idx="${screenshotIdx}" prop="apkId" name="screenshotList[${screenshot.seq}][${screenshotIdx}].apkId" value="${entity.id}">
					<input type="hidden" class="screenshotList" seq="${screenshot.seq}" idx="${screenshotIdx}" prop="fileId" name="screenshotList[${screenshot.seq}][${screenshotIdx}].fileId" value="${screenshot.fileId}" src="${screenshot.fileURL}">
					<input type="hidden" class="screenshotList" seq="${screenshot.seq}" idx="${screenshotIdx}" prop="dpiType" name="screenshotList[${screenshot.seq}][${screenshotIdx}].dpiType" value="${screenshot.dpiType}">
					<input type="hidden" class="screenshotList" seq="${screenshot.seq}" idx="${screenshotIdx}" prop="seq" name="screenshotList[${screenshot.seq}][${screenshotIdx}].seq" value="${screenshot.seq}">
					<input type="hidden" class="screenshotList" seq="${screenshot.seq}" idx="${screenshotIdx}" prop="width" name="screenshotList[${screenshot.seq}][${screenshotIdx}].width" value="${screenshot.width}">
					<input type="hidden" class="screenshotList" seq="${screenshot.seq}" idx="${screenshotIdx}" prop="height" name="screenshotList[${screenshot.seq}][${screenshotIdx}].height" value="${screenshot.height}">
				#end
			#end
			<div id="formContent" class="full form-horizontal form-content-has-footer">
				<div class="form-group no-margin-l no-margin-r">
					<label class="col-xs-1 control-label">图标</label>
					<div class="col-xs-11">
						#for (icon : entity.iconList)
						<div style="display: inline-block;">
			            	<img style="vertical-align: bottom;" src="${icon.fileURL}">
			            	<div style="text-align: center;">${icon.dpi}</div>
			            	<div style="text-align: center;">${icon.width} × ${icon.height}</div>
						</div>
			            #end
					</div>
					<label class="col-xs-2 control-label control-label-tip"></label>
				</div>
				<div class="form-group no-margin-l no-margin-r">
					<label class="col-xs-1 control-label">名称</label>
					<div class="col-xs-9">
						<input type="hidden" id="name" name="name" value="${entity.name}" />
						<input type="text" class="form-control" value="${entity.name}" disabled/>
					</div>
					<label class="col-xs-2 control-label control-label-tip"></label>
				</div>
				<div class="form-group no-margin-l no-margin-r">
					<label class="col-xs-1 control-label">包名</label>
					<div class="col-xs-9">
						<input type="hidden" id="packageName" name="packageName" value="${entity.packageName}" />
						<input type="text" class="form-control" value="${entity.packageName}" disabled/>
					</div>
					<label class="col-xs-2 control-label control-label-tip"></label>
				</div>
				<div class="form-group no-margin-l no-margin-r">
					<label class="col-xs-1 control-label">内部版本号</label>
					<div class="col-xs-9">
						<input type="hidden" id="versionCode" name="versionCode" value="${entity.versionCode}" />
						<input type="text" class="form-control" value="${entity.versionCode}" disabled/>
					</div>
					<label class="col-xs-2 control-label control-label-tip"></label>
				</div>
				<div class="form-group no-margin-l no-margin-r">
					<label class="col-xs-1 control-label">显示版本号</label>
					<div class="col-xs-9">
						<input type="hidden" id="versionName" name="versionName" value="${entity.versionName}" />
						<input type="text" class="form-control" value="${entity.versionName}" disabled/>
					</div>
					<label class="col-xs-2 control-label control-label-tip"></label>
				</div>
				<div class="form-group no-margin-l no-margin-r">
					<label class="col-xs-1 control-label">
						预览图片<sup>*</sup>
						<br>
						<a id="btnPre" href="javascript:preview();" class="btn btn-default" style="margin-left: 1px;">预览图片</a>
						<a id="btnPickerFromLocal" href="javascript:void(0);" class="btn webupload-picker">本地上传</a>
						##<a id="btnPickerFromLibrary" href="javascript:void(0);" class="btn btn-primary" style="margin-left: 1px;">选择图库</a>
					</label>
					<div class="col-xs-10">
						<div id="screenshotDiv" class="screenshot-div">
							#for (screenshotListDpi : entity.screenshotList)
								#set(screenshotIdx = for.index - 1)
								#for (screenshot : screenshotListDpi)
									#if (screenshot.dpiType == 2)
									<div class="screenshot-part" seq="${screenshotIdx}">
										<div class="screenshot-banner">
											<span class="screenshot-banner-item screenshot-banner-item-del">删除</span>
											<span class="screenshot-banner-item screenshot-banner-item-pre">预览</span>
										</div>
										<span class="screenshot-progress" style="display: none;">100%</span>
										<img class="screenshot-img" src="${screenshot.fileURL}" >
									</div>
									#end
								#end
							#end
						</div>
					</div>
					<label class="col-xs-2 control-label control-label-tip"></label>
				</div>
				<div class="form-group no-margin-l no-margin-r">
					<label class="col-xs-1 control-label">描述</label>
					<div class="col-xs-9">
						<textarea class="form-control" name="description" rows="3" maxlength="256">${entity.description}</textarea>
					</div>
					<label class="col-xs-2 control-label control-label-tip">新版本描述</label>
				</div>
			</div>
			<div id="formFooter" class="widget-header form-footer form-footer-scroll">
				<a href="javascript:history.go(-1);" class="btn btn-default">返回</a>
				<button type="submit" id="btnSubmit" class="btn btn-primary">保存</button>
			</div>
		</form>
	</div>
</body>

<script type="text/javascript">
	var uploader = null;
	var dpiArray = new Array('ldpi', 'mdpi', 'hdpi', 'xhdpi', 'xxhdpi');

	$(function() {
		var validResult = false;
	
		$("#mainForm").Validform({
			ajaxPost:true,
			callback:function(data) {
				var result = data.result;
				var msg = data.msg;
				var obj = data.obj;
				if (result) {
					showTipSuccess(msg, null, function() {
						window.location.href = "${urlIndex}";
					});
				} else {
					$("#btnSubmit").removeAttr("disabled");
					showTipError(msg, obj, null);
				}
			},
			beforeSubmit:function(curform) {
				if (validResult) {
					// 检查截图是否上传
					if ($(".screenshot-part").length <= 0) {
						bootbox.alert("请上传预览图片!");
						$("#btnSubmit").removeAttr("disabled");
						return false;
					}
				}
				return validResult;
			}
		});
		
		$("#mainForm").bootstrapValidator({
			feedbackIcons : {
				valid : 'glyphicon glyphicon-ok',
				invalid : 'glyphicon glyphicon-remove',
				validating : 'glyphicon glyphicon-refresh'
			},
			onSuccess : function() {
				validResult = true;
			},
			onError : function() {
				validResult = false;
			}
		});
		
		$("#Validform_msg").remove();
		
		init();
	});
	
	function init() {
		initUploader();
		initScreenshot();
	}
	
	function initScreenshot() {
		$(".screenshot-part").off("mouseenter").on("mouseenter", function() {
			$(this).children(".screenshot-banner").stop().animate({ height:"30px" });
		});
		$(".screenshot-part").off("mouseleave").on("mouseleave", function() {
			$(this).children(".screenshot-banner").stop().animate({ height:"0px" });
		});
		$(".screenshot-banner-item-del").off("click").on("click", function() {
			var screenshotPart = $(this).parent().parent();
			var seqDel = screenshotPart.attr("seq");
			screenshotPart.remove();
			
			$(".screenshot-part").each(function() {
				var seq = $(this).attr("seq");
				if (seq > seqDel) {
					$(this).attr("seq", seq - 1);
				}
			});
			
			$(".screenshotList[seq='" + seqDel + "']").remove();
			$(".screenshotList").each(function() {
				var seq = $(this).attr("seq");
				if (seq > seqDel) {
					$(this).attr("seq", seq - 1);
					var idx = $(this).attr("idx");
					var property = $(this).attr("prop");
					$(this).attr("name", "screenshotList[" + (seq - 1) + "][" + idx + "]." + property);
					if (property == "seq") {
						$(this).attr("value", seq - 1);
					}
				}
			});
		});
		$(".screenshot-banner-item-pre").off("click").on("click", function() {
			/* var json = {
				"title": "", //相册标题
				"start": 0, //初始显示的图片序号，默认0
				"data": [   //相册包含的图片，数组格式
					{
				    	"alt": "",
				    	"src": "http://120.26.200.183:8080/group1/M00/00/18/eBrIt1YCbHCAfUq5AAHoYifwaoY819.png", //原图地址
				    },
				    {
				    	"alt": "",
				    	"src": "http://120.26.200.183:8080/group1/M00/00/18/eBrIt1YCbHCAfUq5AAHoYifwaoY819.png", //原图地址
				    }
				]
			}; */
			var screenshotPart = $(this).parent().parent();
			var seq = screenshotPart.attr("seq");
			var fileCount = $(".screenshotList[seq='" + seq + "'][prop='fileId']").length;
			var screenshotObj = new Object();
			screenshotObj.start = 0;
			var data = new Array();
			for (var i = 0; i < fileCount; i++) {
				var dataItem = new Object();
				dataItem.alt = dpiArray[i];
				dataItem.src = $(".screenshotList[seq='" + seq + "'][prop='fileId'][idx='" + i + "']").attr("src");
				data.push(dataItem);
			}
			screenshotObj.data = data;
			layer.photos({
		        photos: screenshotObj,
		        shade: 0.1,
		        shift: 0,
		    });
		});
	}
	
	function initUploader() {
		uploader = WebUploader.create({
			swf : '/resources/plugin/webuploader-0.1.5/Uploader.swf',// swf文件路径
			server : '${urlScreenshotUpload}',// 文件接收服务端
			pick : '#btnPickerFromLocal',// 选择文件的按钮,内部根据当前运行是创建，可能是input元素，也可能是flash
			paste : '.screenshot-div',// 通过粘贴来添加截屏的图片
			dnd : '.screenshot-div',// 指定Drag And Drop拖拽的容器
			disableGlobalDnd : true,// 是否禁掉整个页面的拖拽功能，如果不禁用，图片拖进来的时候会默认被浏览器打开
			compress : false,// 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
			auto : true,// 设置为 true 后，不需要手动调用上传，有文件选择即开始上传
			prepareNextFile : true,
			fileNumLimit : 1,
			fileSingleSizeLimit : 200 * 1024,// 200kb 验证单个文件大小是否超出限制, 超出则不允许加入队列
			timeout : 5 * 60 * 1000,// 5分钟
			accept : {
				title : '选择截图文件',
				extensions : 'gif,jpg,jpeg,bmp,png',
				mimeTypes : 'image/*'
			},
		});
		// uploader.option('fileNumLimit', 5);
		
		// 当有文件被添加进队列的时候
		uploader.on('fileQueued', function(file) {
			$("#screenshotDiv").append('<div id="' + file.id + '" class="screenshot-part" seq="' + $(".screenshot-part").length + '">' + 
											'<span class="screenshot-progress">0%</span>' + 
									   '</div>');
		});
		
		// 文件上传过程中创建进度条实时显示。
		uploader.on('uploadProgress', function(file, percentage) {
			var $li = $('#' + file.id);
			var txtState = (percentage * 100).toFixed(0) + '%';
			$li.find('.screenshot-progress').text(txtState);
		});

		// 当文件上传成功时触发
		uploader.on('uploadSuccess', function(file, data) {
			var $li = $('#' + file.id);
			if (data.result) {
				uploadSuccess($li, "正在处理文件...");
				$.ajax({
					type : "POST",
					url : "${urlScreenshotHandle}?filePath=" + data.obj,
					success : function(data) {
						if (data.result) {
							var screenshotList = data.obj;
							uploadSuccess($li, "上传成功");
							if ($(".screenshot-part").length >= 5) {
								$("#btnPickerFromLocal").hide();
								$("#btnPickerFromLibrary").hide();
							}
							
							$li.find('.screenshot-progress').hide();
							$li.append('<img class="screenshot-img" src="' + screenshotList[1].fileURL + '">');
							$li.append('<div class="screenshot-banner">' +
									   		'<span class="screenshot-banner-item screenshot-banner-item-del">删除</span>' + 
									   		'<span class="screenshot-banner-item screenshot-banner-item-pre">预览</span>' +
									   '</div>');
							initScreenshot();
							// $li.css("border", "none");
							var screenshotCount = $(".screenshot-part").length;
							var screenshotIndex = screenshotCount - 1;
							$(".screenshotList" + screenshotIndex).remove();
							for (var i = 0; i < screenshotList.length; i++) {
								var screenshot = screenshotList[i];
								$("#mainForm").prepend('<input type="hidden" class="screenshotList" seq="' + screenshotIndex +'" idx="' + i + '" prop="apkId" name="screenshotList[' + screenshotIndex + '][' + i + '].apkId" value="' + ${entity.id} + '" />')
								$("#mainForm").prepend('<input type="hidden" class="screenshotList" seq="' + screenshotIndex +'" idx="' + i + '" prop="fileId" name="screenshotList[' + screenshotIndex + '][' + i + '].fileId" value="' + screenshot.fileId + '" src="' + screenshot.fileURL + '" />')
								$("#mainForm").prepend('<input type="hidden" class="screenshotList" seq="' + screenshotIndex +'" idx="' + i + '" prop="dpiType" name="screenshotList[' + screenshotIndex + '][' + i + '].dpiType" value="' + screenshot.dpiType + '" />')
								$("#mainForm").prepend('<input type="hidden" class="screenshotList" seq="' + screenshotIndex +'" idx="' + i + '" prop="seq" name="screenshotList[' + screenshotIndex + '][' + i + '].seq" value="' + screenshotIndex + '" />')
								$("#mainForm").prepend('<input type="hidden" class="screenshotList" seq="' + screenshotIndex +'" idx="' + i + '" prop="width" name="screenshotList[' + screenshotIndex + '][' + i + '].width" value="' + screenshot.width + '" />')
								$("#mainForm").prepend('<input type="hidden" class="screenshotList" seq="' + screenshotIndex +'" idx="' + i + '" prop="height" name="screenshotList[' + screenshotIndex + '][' + i + '].height" value="' + screenshot.height + '" />')
							}
						} else {
							uploadFail(file, $li, data.msg);
						}
					}
				});
			} else {
				uploadFail(file, $li, data.msg);
			}
		});

		// 当文件上传出错时触发
		uploader.on('uploadError', function(file) {
			uploadFail(file, $('#' + file.id), "上传出错");
		});

		// 不管成功或者失败，文件上传完成时触发
		uploader.on('uploadComplete', function(file) {
			uploader.reset();
		});
		
		uploader.on('error', function(handler) {
			// alert(handler);
		});
	}
	
	function uploadSuccess(item, msg) {
		item.find('.screenshot-progress').text(msg);
	}
	
	function uploadFail(file, item, msg) {
		item.find('.screenshot-progress').css("line-height", "normal");
		item.find('.screenshot-progress').text(msg);
		uploader.removeFile(file, true);
		item.fadeOut(1000, function() {
			item.remove();
		});
	}
	
	function preview() {
		var fileCount = $(".screenshotList[idx='1'][prop='fileId']").length;
		var screenshotObj = new Object();
		screenshotObj.start = 0;
		var data = new Array();
		for (var i = 0; i < fileCount; i++) {
			var dataItem = new Object();
			dataItem.src = $(".screenshotList[seq='" + i + "'][prop='fileId'][idx='1']").attr("src");
			data.push(dataItem);
		}
		screenshotObj.data = data;
		layer.photos({
	        photos: screenshotObj,
	        shade: 0.1,
	        shift: 0,
	        skin: 'demo-class'
	    });
	}
</script>

</html>
