<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="full">

<head>
#include("/resources/common/header.html")
#include("/resources/common/header_edit.html")

<link href="/resources/plugin/chosen_v1.4.2/chosen.css" rel="stylesheet" />
<link href="/resources/plugin/jquery-ui-1.11.4/jquery-ui.css" rel="stylesheet">

<script src="/resources/plugin/chosen_v1.4.2/chosen.jquery.js"></script>
<script src="/resources/plugin/jquery-ui-1.11.4/jquery-ui.js"></script>
</head>


<body class="page-body full">
	<div class="widget-body full">
		<form id="mainForm" class="full full-scroll" action="${urlSave}" method="post">
			<input type="hidden" name="id" value="${entity.id}" />
			<div id="formContent" class="full form-horizontal form-content-has-footer">
				<div class="form-group no-margin-l no-margin-r">
					<label class="col-xs-1 control-label">名称</label>
					<div class="col-xs-9">
						<input type="text" class="form-control" name="name" value="${entity.name}" 
							maxlength="64" required data-bv-notempty-message="名称不能为空" 
							data-bv-stringlength-min="1" data-bv-stringlength-message="名称个数要在1-64个字内" />
					</div>
					<label class="col-xs-2 control-label control-label-tip"></label>
				</div>
				
				<div class="form-group no-margin-l no-margin-r">
					<label class="col-xs-1 control-label">描述</label>
					<div class="col-xs-9">
						<textarea class="form-control" name="description" rows="3" maxlength="256">${entity.description}</textarea>
					</div>
					<label class="col-xs-2 control-label control-label-tip">App类别描述</label>
				</div>
				
				<div id="rolegroupDiv" class="form-group no-margin-l no-margin-r">
					<label class="col-xs-1 control-label">所属父级<sup>*</sup></label>
					<div class="col-xs-9">
						<select id="appClassSel" name="parentId" class="form-control chosen-select " data-placeholder="请选择所属类别" >
							#if(entity.parentId != 0 && entity.id != null)
							#for (appClass : appClassParentList)
								#if(appClass.id == entity.parentId )
								<option selected value="${appClass.id}">${appClass.name}</option>
								#else
								<option value="${appClass.id}">${appClass.name}</option>
								#end 
			            		
				            #end
				            #else
				            <option selected value="${entity.parentId}">${entity.parentName}</option>
				            #end
			        	</select>
					</div>
					<label class="col-xs-2 control-label control-label-tip">请选择所属父级</label>
				</div>
				
			</div>
			<div id="formFooter" class="widget-header form-footer form-footer-scroll">
				<a href="${loadIndex}?parentId=${entity.parentId}" class="btn btn-default">返回</a>
				<button type="submit" id="btnSubmit" class="btn btn-primary">保存</button>
			</div>
		</form>
	</div>
</body>

<script type="text/javascript">
	$(function() {
		var validResult = false;
	
		$("#mainForm").Validform({
			ajaxPost:true,
			callback:function(data) {
				var result = data.result;
				var msg = data.msg;
				var obj = data.obj;
				if (result) {
					showTipSuccess(msg, null, function() {
						window.location.href = "${loadIndex}?parentId="+${entity.parentId};
					});
				} else {
					$("#btnSubmit").removeAttr("disabled");
					showTipError(msg, obj, null);
				}
			},
			beforeSubmit:function(curform) {
				return validResult;
			}
		});
		
		$("#mainForm").bootstrapValidator({
			feedbackIcons : {
				valid : 'glyphicon glyphicon-ok',
				invalid : 'glyphicon glyphicon-remove',
				validating : 'glyphicon glyphicon-refresh'
			},
			onSuccess : function() {
				validResult = true;
			},
			onError : function() {
				validResult = false;
			}
		});
		
		$("#Validform_msg").remove();
	});
</script>

</html>
