<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
#include("/resources/common/header.html")
#include("/resources/common/header_list.html")

<link href="/resources/plugin/chosen_v1.4.2/chosen.css" rel="stylesheet" />
<script src="/resources/plugin/chosen_v1.4.2/chosen.jquery.js"></script>
</head>

<body class="page-body">
	<form id="mainForm">

		<input type="hidden" id="urlparentId" value="${initParentId}" /> 
		<input type="hidden" id="urlList" value="${child}/0" />
		<div class="widget widget-main">
			<div class="widget-header widget-header-search">
				<div>
					<span class="widget-caption"> 
						<span class="search-item">名称：
							<label class="search-input">
								<input type="text" class="form-control input-sm" name="filter#ILIKE#name" />
							</label>
						</span>
						<a href="javascript:searchPage();" class="btn btn-default blue">
						<i class="fa fa-search"></i>搜索</a>
					</span>
				</div>
				<div id="moreSearch" style="display: none;">
					<span class="widget-caption"></span>
				</div>
			</div>
			<div class="widget-body widget-body-operate">
				<div class="table-toolbar">
					<a href="${editAppClass}?parentId=0" id="editAppClass"
						class="btn btn-default">添加</a> <a
						href="javascript:delItemBatch('${urlDelete}');"
						class="btn btn-primary">批量删除</a> <span class="pageControl">#--include("/resources/common/page_control.html")--#</span>
					<a href="javascript:loadListByParentId(0)" id="btn-backPage"
						class="btn btn-default hide">返回</a>
				</div>
				#include("/resources/common/edit_table.html")
				<div class="row DTTTFooter widget-footer-page">
					<div class="col-sm-6 pageSummar">#--include("/resources/common/page_summar.html")--#</div>
					<div class="col-sm-6 pageControl">#--include("/resources/common/page_control.html")--#</div>
				</div>
			</div>
		</div>
	</form>
</body>

<script type="text/javascript">
	$(function() {
		var parentId = $('#urlparentId').val()
		if (parentId != "" && parseInt(parentId) > 0) {
			showBackBtn()
			loadListByParentId(parentId);
		} else {
			init();
		}
		$("#btn-backPage").bind('click', function() {
			$("#btn-backPage").addClass('hide');
		});
	});

	function init() {
		refreshTableList(true);
	}

	function getItemLineFormat(entity) {

		var itemLine = "<tr id='{0}'>";
		itemLine += "<td class='center'><label><input type='checkbox' class='checkItem' onclick='onCheckItem(this);'><span class='text'></span></label></td>";
		itemLine += "<td class='center'>{1}</td>";
		itemLine += "<td class='center '>{2}</td>";
		itemLine += "<td class='center'><span class='ellipsis' style='max-width: 174px;' value='{3}'>{4}</span></td>";
		itemLine += "<td class='left'><div class='ellipsis' style='max-width: 174px;' title='{5}'>{5}</div></td>";
		itemLine += "<td class='center'>{6}</td>";
		itemLine += "<td class='center'>";
		if (entity.parentId == 0) {
			itemLine += "<a href='javascript:loadListByParentId({0})' onclick='showBackBtn()' class='btn btn-warning btn-xs edit btn-stepChild'><i class='fa fa-gears'></i>管理</a> ";
		}
		itemLine += "<a href='${editAppClass}?id={0}&parentId={3}' class='btn btn-info btn-xs edit'><i class='fa fa-edit'></i>编辑</a> ";
		itemLine += "<a href='javascript:delItem(\"${urlDelete}\", {0});' class='btn btn-danger btn-xs delete'><i class='fa fa-trash-o'></i>删除</a>";
		itemLine += "</td>";
		itemLine += "</tr>";
		return itemLine;
	}

	function getItemLine(entity) {
		return getItemLineFormat(entity).format(entity.id, entity.viewIdx,
				entity.name, entity.parentId, entity.parentName,
				entity.description, entity.modifyTimeStr);
	}
	function showBackBtn() {
		$('#btn-backPage').removeClass('hide');
	}
	function loadListByParentId(id) {
		$('#editAppClass').attr("href", "${editAppClass}?parentId=" + id);
		$('#urlList').val('${child}/' + id);
		refreshTableList(true);
	}
</script>

</html>
